<# Maven
target/

# IDE
.idea/
.project
.classpath
.settings/
*.iml

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
=======
# Maven
target/

# IDE
.idea/
.project
.classpath
.settings/
*.iml

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

db45c5ada0e1c10d247adf40ec3510fd11903a1b
